@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

/* Reset Página */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Reset Página */

/* Começo do CSS */
body {
    background-image: url("images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 5%;
    max-width: 100%;
    position: relative;
    font-family: "Lato";
    font-weight: 100;
}

#navbar {
    background-color: #e1e9f3;
    opacity: 90%;
    display: inline-flex;
    position: fixed;
    justify-content: center;
    top: 0;
    width: 100%;
    font-family: "Lato";
    font-size: 70%;
    font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Lato";
    font-size: 120%;
    font-weight: 700;
    margin-top: 2%;
    margin-bottom: 3%;
    text-align: center;
}

p {
    font-family: "Lato";
    font-size: 90%;
    font-weight: 500;
    margin-top: 2%;
    margin-bottom: 2.5%;
}

#logo a img {
    justify-content: left;
    width: 50%;
}

#barra {
    justify-content: right;
    padding-top: 1.8%;
}

#barra a {
    padding: 10px;
    text-decoration: none;
    color: #1460D0;
}

#barra a:hover {
    color: #FC9A0A;
    transition-duration: 0.5s;
}

#rodape {
    background-color: white;
    width: 100%;
    display: inline-flex;
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
}

#ajuda-rodape h4, li, a, p {
    margin-top: 1.5%;
    margin-bottom: 2%;
}

#ajuda-rodape a {
    text-decoration: none;
    font-size: 0.9em;
    font-weight: 700;
    color: #1460D0;
}

#ajuda-rodape a:hover {
    font-size: 0.95em;
    color: #FC9A0A;
}

#redes-sociais {
    display: flex;
    margin-right: 0%;
    padding: 0;
    margin: 0;
}

#redes-sociais a {
    padding: 0;
    margin: 0;
    width: 15%;
}

#redes-sociais img {
    width: 20%;
}

#rodape #redes-sociais {
    padding-top: 30px;
    padding-left: 0px;
}

#redes-sociais a img:hover {
    transform: scale(1.5);
    transition: 1s;
}