@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

/* Reset Página */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Reset Página */

/* Começo do CSS */
.add-margin {
    margin-left: auto;
}

.logo {
    width: 250px;
}

.navbar {
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 999;
    opacity: 90%;
}

body {
    background-color: #0096E5;
    background-image: url("images/bg4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-width: 100%;
    font-family: "Lato";
    font-weight: 100;
    margin-top: 150px;
}

h1,h2,h3 {
    font-size: large;
    text-align: center;
    margin-bottom: 20px;
}

#text {
    max-width: 100%;
    font-weight: 500;
    font-family: "Roboto";
}

.row {
    margin-top: 3%;
}

.row a {
    text-decoration: none;
    color: black;
}

.col {
    flex: max-content;
    display: grid;
    justify-content: center;
    margin-bottom: 2%;
}

.col:hover {
    transform: scale(1.1);
    transition: 0.9s;
}

.fundo-branco {
    background-color: rgba(255, 255, 255, 0.541);
    margin-inline: 10%;
    margin-top: 3%;
    margin-bottom: 2%;
    padding: 1% 2%;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    
    transition: all 0.5s ease-in-out;
}

.fundo-branco:hover {
    box-shadow: none;
    z-index: 2;
}

.noticia img {
    width: 100%;
    margin-top: 0.5%;
    margin-bottom: 2%;
}

.ajude {
    display: flex;
    justify-content:center;
}

#rodape {
    opacity: 80%;
}

#rodape iframe{
    width: 100%;
    height: 200px;
    
}

.p-4 {
    padding: 1.5rem !important;
    display: grid;
    justify-content: center;
    text-align: center;
}

.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: fit-content;
}

#iframeId {
    display: flex;
    align-items: center;
}

#iframeId iframe {
    width: 920px;
    height: 518px;
}
    
#redes-sociais img {
    width: 35px;
    padding-top: 25px;
}

#redes-sociais img:hover {
    transform: scale(1.15);
    transition: 0.9s;
}

#testee {
    width: 1000px;
    height: auto;
    margin-left: 24%;
    margin-right: 24%;
  
}

@media screen and (max-width:475px) {
    .container-fluid .logo {
        width: 230px;
    }
}